<h1> here you got your articles</h1>
<ul>
<%= @articles.each do |article| %>
<li><strong><%= article.title %></li>
<ul><%= article.content %></ul>
</ul>
<%= link_to "add a new article", new_path %>
<% end%>

<%= link_to 'Delete', article_path(article),
method: :delete,
data: { confirm: "Are you sure buddy?"

} %>

