<h1> Here you got your articles</h1>

<ul>
<% @articles.each do |article| %>
<li><%= link_to article.title, article_path(article) %></li>
<ul><%= article.content %></ul>
</ul>


<%= link_to 'Delete', article_path(@articles), class: 'pull-left btn btn-default',
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>


<!-- LEWAGON SOLUTION -->
<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <%= article.content[0..100] %>
  </article>
<% end %>

<!-- SUPONGO QUE LINEA 20 ES PARA QUE UNA VEZ ABIERTO EL LINK DEL TITLE, SE DESPLIEGUE MAS INFO COMO EN EL EJEMPLO DE LA WEB -->
